/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "../pages/home-page/styles/home-page.scss";
html {
  height: 100%;
}
body {
  background-color: #0f162d;
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
